:root {
  --primaryCol: #CDA545;
  --orange: #CDA545;
  --lightBlue: #25B0E9;
  --shadowedBlue: rgba(28, 123, 175, 0.78);
  --fade-gray: #657482;
}


.button {
  background: #CDA545 !important;
  color: #000 !important;
  border: 2px solid var(--primaryCol);
  border-radius: 100px;
  padding: 10px 20px;
  text-align: center;
}

.button-sm {
  padding: 5px 10px;
}

.outline-btn {
  background: #fff !important;
  color: var(--primaryCol) !important;
  border: 2px solid var(--primaryCol);
  border-radius: 100px;
  padding: 10px 20px;
  text-align: center;
}

.message-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.message-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.send-button {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #CDA545;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #CDA545;
}

.send-button:focus {
  outline: none;
  background-color: #CDA545;
  /* box-shadow: 0 0 5px rgba(51, 102, 255, 0.5); */
}

/* Container for the conversation */
.conversation-container {

  margin: 20px auto;

}

/* Individual message */
.message {
  padding: 10px;
  /* border-bottom: 1px solid #ccc; */
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 10px;
}

/* Sender's message */
.message.sent {
  background-color: #dcf8c6;
}

/* Receiver's message */
.message.received {
  background-color: #fff;
}

/* Message content */
.message .content {
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}

/* Timestamp */
.message .timestamp {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
}




.bgPrimary {
  background-color: #CDA545;
}

.btn-prime {
  color: #000;
  background-color: #CDA545;
  border-color: #CDA545;
  box-shadow: 0 0.125rem 0.25rem 0 #CDA545;
  border-radius: 100px !important;
}

.btn-prime:hover {
  color: #000;
  background-color: #CDA545;
  border-color: #CDA545;
  transform: translateY(-1px);
  border-radius: 100px !important;
}

.theShadCard {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: white;

}


.theChart {
  max-width: 100%;
}

.invTable tbody tr td {
  padding-top: 15px;
  padding-bottom: 15px;
}

.invTable2 tbody tr td {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px !important;
}

.tooltip-arrow,
.red-tooltip+.tooltip>.tooltip-inner {
  max-width: 236px !important;
  height: 76px;
  font-size: 12px;
  padding: 10px 15px 10px 20px;
  background: #FFFFFF;
  color: rgba(0, 0, 0, .7);
  border: 1px solid #737373;
  text-align: left;
}

.menu .app-brand.demo {
  height: fit-content !important;
}

.swal2-container {
  background: rgba(17, 17, 18, 1.4) !important;
  z-index: 1086 !important;
}

.bg-menu-theme {
  background-color: #CDA545 !important;
  color: #697a8d;
}

.bg-menu-theme .menu-link,
.bg-menu-theme .menu-horizontal-prev,
.bg-menu-theme .menu-horizontal-next {
  color: #1E1E1E;
}

.menu-vertical .menu-inner>.menu-item {
  margin: 8px 0;
}

.layout-navbar.navbar-detached {
  width: calc(100% - (1.625rem * 2));
  margin: 0.75rem auto 0;
  border-radius: 0.375rem;
  padding: 3rem 1.5rem;
}

.navbar-detached {
  box-shadow: none !important;
  ;
}

.btn.btn-prime {
  color: #000;
  background-color: #CDA545 !important;
  border-color: #CDA545;
  box-shadow: 0 0.125rem 0.25rem 0 #CDA545;
  border-radius: 100px !important;
}

.btn.btn-prime:hover {
  color: #000;
  background-color: #CDA545;
  border-color: #CDA545;
  transform: translateY(-1px);
  border-radius: 100px !important;
}

a:hover {
  text-decoration: none;
}

.btn-prime-outline {
  color: #CDA545 !important;
  background-color: #fff !important;
  border: 1px solid #CDA545;
  border-radius: 100px !important;
  padding: 7px 20px;
}

.btn-prime-outline:hover {
  color: #CDA545;
  background-color: #fff;
  border-color: #CDA545;
  transform: translateY(-1px);
  border-radius: 100px !important;
}

.post .nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
  background-color: #f5f5f9 !important;
  color: #1E1E1E !important;
  box-shadow: none;
}

.post .nav-pills .nav-link {
  background-color: #f5f5f9 !important;
  color: #8E8E8E;
}

.post .nav-align-top>.tab-content,
.nav-align-right>.tab-content,
.nav-align-bottom>.tab-content,
.nav-align-left>.tab-content {
  flex-shrink: 1;
  border: 0 solid #d9dee3;
  box-shadow: none;
  background-clip: padding-box;
  background: none;
}

.billing .nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
  background-color: #fff !important;
  color: #1E1E1E !important;
  box-shadow: none;
  border-bottom: 2px solid #CDA545;
  border-radius: 0px;
}

.billing .nav-pills .nav-link {
  background-color: #fff !important;
  color: #8E8E8E;
}

.billing .nav-align-top>.tab-content,
.nav-align-right>.tab-content,
.nav-align-bottom>.tab-content,
.nav-align-left>.tab-content {
  flex-shrink: 1;
  border: 0 solid #d9dee3;
  box-shadow: none;
  background-clip: padding-box;
  background: none;
}

ul {
  text-decoration: none !important;
}

.stretched-link {
  text-decoration: none;
  color: #CDA545 !important;
}

.lol {
  clip-path: polygon(4% 1%, 100% 0%, 100% 75%, 11% 75%, 0 100%, 4% 70%, 4% 70%);
  border-radius: 10px 10px 10px;
}

.table> :not(caption)>*>* {
  padding: 0.625rem 0.7rem !important;
}

.invoiceTable tr td {
  font-size: 14px;
}

.menu .app-brand.demo {
  height: fit-content !important;
}

.dashCards {
  padding: 10px;
}

.dashCards .icoCont {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashCards .icoCont iconify-icon {
  font-size: 24px;
}

.dashCards .headder {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.dashCards .zanumbers {
  font-weight: bold;
  font-size: 18px;
}

.cardTCrd {
  padding: 10px;
}

.cardTCrd .icoContt {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTCrd .icoContt iconify-icon {
  font-size: 24px;
}

.swal2-container {
  background: rgba(17, 17, 18, 1.4) !important;
  z-index: 1086 !important;
}

.theCard {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

.theCard .rightCrd {
  border-radius: 80px 10px 10px 80px;
}

.decis {
  color: #666a6c;
  margin-bottom: 20px;
  font-weight: 200;
}

.mainText {
  font-family: LatoBold;
}

.dashCards {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
  border-radius: 10px;

}

.taxes .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #CDA545;
  background-color: none;
  border-bottom: 2px solid #CDA545;
  border-radius: 0%;
  font-size: 14px;
}

.taxes .nav {
  border-bottom: 1px solid #D7D7D7;
  font-size: 14px;
}

.taxes .nav-pills .nav-link,
.nav-pills .show>.nav-link {
  color: #CDA545;
  background-color: none;
  border-radius: 0%;
  font-size: 14px;
}

a:hover {
  color: #CDA545;
}


.taxes .nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
  background-color: #fff;
  color: black;
  box-shadow: none !important;
  border-radius: 0%;
}

.service .cardoo {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.collapse {
  visibility: visible !important;
}

.payeTable tr th {
  font-size: 10px;
}

.payeTable tr td {
  font-size: 13px;
}


.formTabs {
  display: none;
}

/* .invTa tr td {
  padding-left: 0;
  padding-bottom: 0px;
  font-size: 14px;
} */

.imgTabs {
  display: none;
}

/* MAKE PAYMENT
 */

.payCards {
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  box-shadow: 1.71429px 1.71429px 1.71429px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 20px 30px;
  width: 130px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.payCards:hover {
  transform: scale(1.02);
}

.payCards.active {
  border: 2px solid #CDA545;
}

.payCards iconify-icon {
  font-size: 30px;
}

.payCards p {
  margin-top: 10px;
}

.tab_steps {
  display: none;
}

.tab_steps.active {
  display: block;
}

.disabled {

  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.selectedcat {
  border: 2px solid var(--primaryCol);
}

.cardi {
  cursor: pointer;
}

#last-button {
  background: white;
  width: 380px;
  color: #000;
  border: 3px solid var(--primaryCol);
  border-radius: 100px;
  padding: 10px 20px;
  text-align: center;
}

#lastly-button {
  background-color: #CDA545;
  width: 380px;
  color: #000 !important;
  border: 3px solid var(--primaryCol);
  border-radius: 100px;
  padding: 10px 20px;
  text-align: center;
}